<div class="exe-task" style="font-size: 5em; color: #FFFFFF; position: absolute; width: 160px; line-height: 160px; margin-bottom: 10px;">
    <div class="number_image_holder answerrow animated bounceInLeft" style="width: 160px; ">
        <img class="number_image_content" style="display: block; width: 24.6px; height: 27px; margin-top: 90.2px;" src="http://dev.edimia.se/assets/images/number-image-kr-10.png">
        <img class="number_image_content" style="display: block; margin-top: 14.2px; width: 94.2px; height: 103.2px;" src="http://dev.edimia.se/assets/images/number-image-kr-7.png">
    </div>
</div>
<div class="exe-eq" style="font-size: 5em; color: #000000; position: absolute; width: 50px; left: 175px; line-height: 160px; margin-bottom: 10px;">
    =
</div>
<div class="drophere" style="color: #000000; position: absolute; width: 160px; left: 240px; line-height: 160px; margin-bottom: 10px; border: 1px solid red; height: 160px;">
    
</div>