<div class="input-answer-holder animated bounceInLeft">
    <div>
        <span class="number-adjust number-adjust-up" data-sum="1"></span>
        <input type="text" maxlength="{{maxlen}}" pattern="[0-9]{2}" size="2" value="{{startvalue}}" />
        <span class="number-adjust number-adjust-down" data-sum="-1"></span>
    </div>
</div>