<div class="answerrow" data-number="{{number}}">
    <div style="position: relative; left: 0px; top: 0px; width: 165px; height: 150px;" class="round25 refbg"></div>
    <div class="number_image_holder animated bounceInLeft">
        {% for img in numberimages %}
            {{ img }}
        {% endfor %}
    </div>
    <div class="eq-sign">=</div>
    <div class="drop_area" style="left: 250px; top: 0px; width: 170px; height: 150px;">
        <div class="drop_area_bgdiv"></div>
    </div>
</div>