<div class="{{exerciseclassname}}">
    <div class="exe-container-header clearfix">
        
    </div>
    <div class="exe-container-question clearfix">
        
    </div>
    <div class="exe-container-answer clearfix">

    </div>
</div>