<div class="slider-container" data-value="0">
    <div id="slider"></div>
    <ul class="slider-arches">
    </ul>
    <ul class="slider-divisions">
    </ul>
    <ul class="slider-labels">
    </ul>
    <div class="number-line"></div>
    <div class="repeat-image-container"></div>
</div>