<div class="input-answer-holder animated bounceInLeft">
    <div>
        <span class="number-adjust number-adjust-up" data-sum="1"></span>
        <input type="text" max-length="1" pattern="[0-9]" size="2" />
        <span class="number-adjust number-adjust-down" data-sum="-1"></span>
    </div>
</div>