<div class="animated bounceInLeft clearfix">
    <div class="equation-num equation-num-left value{{num1}}">
        {{imgstr1}}
    </div>
    <div style="float: left; width: 10%; color: #686e6a; font-size: 6em; text-align: center; line-height: 85px;">
        +
    </div>
    <div class="equation-num equation-num-right value{{num2}}">
        {{imgstr2}}
    </div>
    <div style="float: left; width: 10%; color: #686e6a; font-size: 6em; text-align: center; line-height: 85px;">
        =
    </div>
</div>